#
# Project
#
PROJECT=example
ENVIRONMENT=TEST
TECH=generic

#
# Auto Deploy self-update
#
AUTO_UPDATE=Y
AUTO_UPDATE_REMOTE=origin
AUTO_UPDATE_BRANCH=main

#
# AWS deployment artifacts
#
AWS_REGION=eu-central-1
S3_BUCKET=
S3_PREFIX=

#
# Releases
#
BUILDS_COUNT=3

#
# Runtime user
#
APP_USER=www-data
APP_GROUP=www-data

#
# Systemd service
#
SERVICE=

#
# Health check
#
HEALTH_URL=
HEALTH_RETRIES=10
HEALTH_DELAY=1
HEALTH_TIMEOUT=3

#
# Laravel
#
PHP_BIN=/usr/bin/php

LARAVEL_PERSIST_STORAGE=Y
LARAVEL_MIGRATE=Y
LARAVEL_FILAMENT_ASSETS=N
LARAVEL_CONFIG_CACHE=Y
LARAVEL_ROUTE_CACHE=N

#
# Notifications
#
NOTIF=N
NOTIF_ENGINE=telegram

NOTIF_TOKEN=
NOTIF_ID=