PROJECT=example-app
ENVIRONMENT=TEST
TECH=laravel

AUTO_UPDATE=Y
AUTO_UPDATE_REMOTE=origin
AUTO_UPDATE_BRANCH=main

AWS_REGION=eu-central-1
S3_BUCKET=example-deploy-artifacts
S3_PREFIX=example-app/test

BUILDS_COUNT=3

APP_USER=www-data
APP_GROUP=www-data

PHP_BIN=/usr/bin/php

SERVICE=octane@example-app-test.service

HEALTH_URL=http://127.0.0.1:8001/up
HEALTH_RETRIES=10
HEALTH_DELAY=1
HEALTH_TIMEOUT=3

LARAVEL_PERSIST_STORAGE=Y
LARAVEL_MIGRATE=Y
LARAVEL_SEED=N
LARAVEL_FILAMENT_ASSETS=N
LARAVEL_CONFIG_CACHE=Y
LARAVEL_ROUTE_CACHE=N

NOTIF=N
NOTIF_ENGINE=telegram

NOTIF_TOKEN=
NOTIF_ID=
