[Unit]
Description=Example App TEST Laravel Octane
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/datastore/web/test.example.com/htdocs
ExecStart=/usr/bin/php artisan octane:start --server=swoole --host=127.0.0.1 --port=8001 --workers=1 --task-workers=1
Restart=always
RestartSec=5
KillSignal=SIGTERM
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
